*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  margin: 20px 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .productCard{
  width: 300px;
  height: 350px;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
.container .productCard p{
  margin: 6px   0;
}
.category{
  width: 500px;
  margin: 30px auto;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul li{
  list-style: none;
  font-size: 25px;
  padding: 10px;
}
li:hover{
  color: crimson;
  cursor: pointer;
}